# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* The capabilities of R and its uses in Data Science.
* The RStudio interface for running R codes. 
* Popular R packages for Data Science.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Numpy
3. Pandas

| Data Science Tools |
----------------------
| Jupyter Notebook   | 
| R Studio           |
| Watson Studio      |
| Hadoop             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gia Lee